.content-wrapper {
  margin: 0px 200px;
  height: 200px;
  position: relative;
  display: flex;
  width: 567px;
}
.content {
  width: 350px;
  text-align: right;
  padding-right: 70px;
  line-height: 2;
  transition: transform 0.5s ease-in-out;
}
.content p {
  font-size: 0.8em;
}
h3 {
  padding-top: 5px;
}
.content a {
  display: inline-block;
  background-color: #ddd;
  width: 120px;
  text-align: center;
  height: 30px;
  line-height: 30px;
  border-radius: 99px;
  margin-top: 20px;
  transition: all 0.5s ease-in-out;
}
.content-wrapper::after {
  content: "";
  width: 15px;
  height: 15px;
  display: inline-block;
  border-radius: 50%;
  background: linear-gradient(360deg, #3d877b, #57bcab);
  box-shadow: #57bcab41 0 0 0px 8px;
  position: absolute;
  right: calc(50% - 40px);
  top: 15px;
}
.content-wrapper::before {
  content: "";
  display: inline-block;
  height: 150px;
  border: 1px solid #ddd;
  position: absolute;
  top: 45px;
  left: calc(50% + 32px);
}
.time {
  margin-top: 15px;
  transition: transform 0.5s ease-in-out;
}
.content-wrapper:hover > .content {
  text-align: left;
  transform: translateX(350px);
}
.content-wrapper:hover > .time {
  transform: translateX(-152px);
}
.content-wrapper:hover a {
  background-color: #a26f5a;
  color: white;
}
.container > :nth-child(4)::before {
  display: none;
}
.container {
  float: left;
}
.background-picture {
  float: right;
  padding: 20px 100px;
  position: relative;
}
.pic-1 {
  width: 400px;
  height: 450px;
  background-image: url(../img/business-developer-la-nhan-vien-phat-trien-kinh-doanh.webp);
  background-size: cover;
}
.pic-2 {
  position: absolute;
  width: 250px;
  height: 420px;
  background-image: url(../img/business-developer-la-nhan-vien-phat-trien-kinh-doanh.webp);
  background-size: cover;
  top: 25%;
  left: 0;
}
.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: darkblue;
  width: 90%;
  height: 90%;
}
.overlay h2,
.overlay span {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: url(../img/business-developer-la-nhan-vien-phat-trien-kinh-doanh.webp);
  position: absolute;
  bottom: 30px;
  right: 15px;
  font-weight: 700;
}
.overlay h2 {
  font-size: 5rem;
  bottom: 40px;
}
